#toolbox_frame {
	margin-top: 200px;
	border: solid 1px;
	-webkit-user-select: none;
	position: absolute;
}

#toolbox {
	padding: 0px;
	margin: 16px;
}
#toolbox li {
	list-style-type: none; 
}
#toolbox li~li {	
	padding-top: 5px; 
}
#toolbox li a:hover {
	color: orange; !important /* NOT WORKING */
}
#toolbox li a:link, a:visited, a:active {
	color: black;
	text-decoration: none;
}
#toolbox li a img {
	width: 16px;
	height: 16px;
	padding-right: 5px;
	padding-bottom: 5px;
	vertical-align: middle;
}